{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                   <h1>Todo App</h1>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <form method="POST" action=""  class="p-3 shadow">
            {% csrf_token %}
             <div class="form-group">
                     <input class="form-control" type="text" name="task" placeholder="enter the TAsk"><br>
                     <input class="form-control" type="text" name="priority" placeholder="enter the prioriy"><br>
                 <input class="form-control" type="date" name="date" placeholder="enter the date"><br>
                     <input class="btn btn-primary mb-3" type="submit" >


            </div>
            </form>

        </div>
        <div class="col-md-6">
            <h3>TAsk to be completed..</h3>
            {% for i in todo1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">
                      {{i.task}}
                    </h5>
                    <p><b>{{i.priority}}</b></p>
                    <a class="btn btn-danger" href="{%url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{%url 'update' i.id %}">edit</a>

                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}

